{%extends 'base.html'%} {%block titulo%}Cadastro | {% endblock %} {%block
conteudo%}
<h1>Cadastro</h1>

<form method="POST" action="{%url 'register'%}">
  {%include 'parciais/_messages.html'%} {% csrf_token %}
  <div class="form-group">
    <label for="">Nome</label>
    <input
      type="text"
      class="form-control"
      aria-describedby="emailHelp"
      name="nome"
      value="{{request.POST.nome}}"
    />
  </div>

  <div class="form-group">
    <label for="">Sobrenome</label>
    <input
      type="text"
      class="form-control"
      aria-describedby="emailHelp"
      name="sobrenome"
      value="{{request.POST.sobrenome}}"
    />
  </div>

  <div class="form-group">
    <label for="">Email</label>
    <input
      type="email"
      class="form-control"
      aria-describedby="emailHelp"
      name="email"
      value="{{request.POST.email}}"
    />
  </div>

  <div class="form-group">
    <label for="">Usuário</label>
    <input
      type="text"
      class="form-control"
      aria-describedby="emailHelp"
      name="usuario"
      value="{{request.POST.usuario}}"
    />
  </div>

  <div class="form-group">
    <label for="">Senha</label>
    <input
      type="password"
      class="form-control"
      aria-describedby="emailHelp"
      name="senha"
    />
  </div>

  <div class="form-group">
    <label for="">Repetir a senha</label>
    <input
      type="password"
      class="form-control"
      aria-describedby="emailHelp"
      name="senha2"
    />
  </div>

  <button type="submit" class="btn btn-primary">Cadastrar-me</button>
</form>
{%endblock%}
